node_modules/
.next/
out/
output/
.vercel/
*.tsbuildinfo
*.db
.db
config.tsbuildinfo*
scratch/
scratch.txt

.env
.env.local
.env.*.local
.env.local.example
!.env.example

npm-debug.log*
.DS_Store
Thumbs.db
